.footer {
    
    background-color: white;
    padding: 2px;
    text-align: center;
}
.footer {
    
    font-style: italic;
    background-color:white;
    padding: 10px;
    text-align: center;
    }